{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cljfmt/cljfmt {:mvn/version "0.8.0"}
        clj-kondo/clj-kondo {:mvn/version "2022.04.25"}
        io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
        exoscale/deps-version {:git/sha "e5caeb9dcb4b691de59b271c36e9c21093db6557"
                               :git/url "https://github.com/exoscale/deps-version"}
        com.exoscale/lingo {:mvn/version "1.0.0-alpha18"}
        slipset/deps-deploy {:git/sha "b87c9299761762984bd54a285ca8fa0aac81809f"
                             :git/url "https://github.com/slipset/deps-deploy"
                             :exclusions [s3-wagon-private/s3-wagon-private]}
        exoscale/sos-wagon-private {:mvn/version "1.3.2-exoscale11"}}

 :tools/usage
 {:ns-default exoscale.tools.project.module}}
