name: Clojure CI

on: [push]

env:
  GIT_SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: clojure:openjdk-17-tools-deps-slim-bullseye
      volumes:
        - ${{ github.workspace }}:${{ github.workspace }}

    steps:
    - uses: actions/checkout@v3.0.2
      name: "Checkout git repository"

    - name: Cache dependencies
      uses: actions/cache@v3
      id: cache-deps
      with:
        path: |
          /root/.gitlibs
          /root/.m2
        key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}

    - name: Check
      id: check
      run: clojure -T:project check
        
    - name: Test
      id: test
      run: clojure -X:test

    - name: Lint
      id: lint
      run: clojure -T:project lint

    - name: Format
      run: clojure -T:project format-check
