{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1" :exoscale.deps/inherit :all}}

 :exoscale.project/lib {{raw-name}}
 :exoscale.project/version-file "VERSION"

 :aliases
 {:project
  {:ns-default exoscale.tools.project.module
   :extra-deps {com.exoscale/tools.project
                {:git/sha "b94e2945dbf6940b325ed4d86ec2cae6091944a4"
                 :git/url "git@github.com:exoscale/tools.project.git"}}
  :exoscale.deps/inherit :all}
  :test
  {:extra-deps {lambdaisland/kaocha {:exoscale.deps/inherit :all, :mvn/version "1.66.1034"}
                lambdaisland/kaocha-junit-xml {:exoscale.deps/inherit :all, :mvn/version "0.0.76"}
                org.clojure/test.check {:exoscale.deps/inherit :all, :mvn/version "RELEASE"}
                org.slf4j/slf4j-api {:exoscale.deps/inherit :all, :mvn/version "2.0.0-alpha7"}
                org.slf4j/slf4j-simple {:exoscale.deps/inherit :all, :mvn/version "2.0.0-alpha7"}}
   :extra-paths ["test" "resources" "test/resources"]
   :exec-fn  kaocha.runner/exec-fn
   :jvm-opts ["-Dio.netty.tryReflectionSetAccessible=false"
              "-Dclojure.compiler.disable-locals-clearing=true"]
   :exoscale.deps/inherit :all}}

 :exoscale.project/managed-dependencies
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 :exoscale.project/managed-aliases
 {:project
  {:ns-default exoscale.tools.project.module
   :extra-deps {com.exoscale/tools.project
                {:git/sha "b94e2945dbf6940b325ed4d86ec2cae6091944a4"
                 :git/url "git@github.com:exoscale/tools.project.git"}}}

  :test
  {:extra-deps {lambdaisland/kaocha {:exoscale.deps/inherit :all, :mvn/version "1.66.1034"}
                lambdaisland/kaocha-junit-xml {:exoscale.deps/inherit :all, :mvn/version "0.0.76"}
                org.clojure/test.check {:exoscale.deps/inherit :all, :mvn/version "RELEASE"}
                org.slf4j/slf4j-api {:exoscale.deps/inherit :all, :mvn/version "2.0.0-alpha7"}
                org.slf4j/slf4j-simple {:exoscale.deps/inherit :all, :mvn/version "2.0.0-alpha7"}}}}}
